#puzzleCon {
    padding: 10px;
}

#test-con {
    display:flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
}

#test-con input {
    width: 50%;
    height: 50px;
    margin: auto;
}

#quest-con {
    margin: auto;
    text-align: center;
}

.vocab-input {
    display: none;
}

.select-img {
    padding: 10px;
    margin: auto;
}

.select-img, .select-img img{
    width: 100px;
    height: 100px;
}

.vocab-input:checked+label {
    border-radius: 10%;
    border: 5px solid black;
}

.quest-btn img{
    display: block;
    margin: auto;
    max-width: 20%;
    max-height: 20%;
}

.result-box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
    z-index: -1;
    position: absolute;
    left: 0px; top:0px;
    width: 100%;
    height: 100%;
*/

.result-box img, .enter-btn img{
    display: block;
    margin: auto;
}

.hide {
    visibility: none;
    width: 0;
    height: 0;
}